<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReadWriteFilePlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E9B6A951EC4877F00A4DB2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E9B6AA91EC4877F00A4DB2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E9B6AB41EC4877F00A4DB2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
